# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [3]:
users_df = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|', header=0)

users_df.head(10)

/home/data/miniconda3/envs/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   user_id  age gender     occupation zip_code
0        1   24      M     technician    85711
1        2   53      F          other    94043
2        3   23      M         writer    32067
3        4   24      M     technician    43537
4        5   33      F          other    15213
5        6   42      M      executive    98101
6        7   57      M  administrator    91344
7        8   36      M  administrator    05201
8        9   29      M        student    01002
9       10   53      M         lawyer    90703

### Step 4. Discover what is the mean age per occupation

In [4]:
users_df.groupby(by=['occupation']).age.apply(np.mean)

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, observed=False, **kwargs)

DataFrame.apply(func, axis=0, broadcast=None, raw=False, reduce=None, result_type=None, args=(), **kwds)
Apply a function along an axis of the DataFrame.

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [5]:
def get_ratio(panda_series):
    
    if len(panda_series) < 2:
        return 1
    
    return panda_series[0]/(sum(panda_series))
    
users_df.groupby(by='occupation').apply(lambda x: get_ratio(x.gender.value_counts())).sort_values(ascending=False)

occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
homemaker        0.857143
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
healthcare       0.687500
other            0.657143
marketing        0.615385
writer           0.577778
librarian        0.568627
none             0.555556
administrator    0.544304
artist           0.535714
dtype: float64

Series.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)[source]
Return a Series containing counts of unique values.

The resulting object will be in descending order so that the first element is the most frequently-occurring element. Excludes NA values by default.

df2 = (
    df2
    .assign(Growth=df2.groupby(['business_id'])['Revenues'].transform(
        lambda group: group.pct_change()))
    .sort_index()
)

### Step 6. For each occupation, calculate the minimum and maximum ages

In [6]:
users_df.groupby(by='occupation').age.apply(lambda x: (max(x), min(x)))

occupation
administrator    (70, 21)
artist           (48, 19)
doctor           (64, 28)
educator         (63, 23)
engineer         (70, 22)
entertainment    (50, 15)
executive        (69, 22)
healthcare       (62, 22)
homemaker        (50, 20)
lawyer           (53, 21)
librarian        (69, 23)
marketing        (55, 24)
none             (55, 11)
other            (64, 13)
programmer       (63, 20)
retired          (73, 51)
salesman         (66, 18)
scientist        (55, 23)
student           (42, 7)
technician       (55, 21)
writer           (60, 18)
Name: age, dtype: object

### Step 7. For each combination of occupation and gender, calculate the mean age

In [7]:
users_df.groupby(by=['occupation', 'gender']).age.apply(lambda x: np.mean(x))

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [27]:
def calc_perc(panda_series):
    if len(panda_series) < 2:
        return '%100,   %0     '
    return ('%' + str(round(((panda_series[0]/sum(panda_series))*100), 2))), ('%' + str(round(((panda_series[1]/sum(panda_series))*100), 2)))

users_df.groupby(by='occupation').apply(lambda x: calc_perc(x.gender.value_counts())).rename_axis(['Occupation       M - F Gender PCT'])

Occupation       M - F Gender PCT
administrator    (%54.43, %45.57)
artist           (%53.57, %46.43)
doctor            %100,   %0
educator         (%72.63, %27.37)
engineer          (%97.01, %2.99)
entertainment    (%88.89, %11.11)
executive         (%90.62, %9.38)
healthcare       (%68.75, %31.25)
homemaker        (%85.71, %14.29)
lawyer           (%83.33, %16.67)
librarian        (%56.86, %43.14)
marketing        (%61.54, %38.46)
none             (%55.56, %44.44)
other            (%65.71, %34.29)
programmer        (%90.91, %9.09)
retired           (%92.86, %7.14)
salesman           (%75.0, %25.0)
scientist         (%90.32, %9.68)
student          (%69.39, %30.61)
technician          (%96.3, %3.7)
writer           (%57.78, %42.22)
dtype: object

def calc_perc(panda_series):
    if len(panda_series) < 2:
        return '%100,  %0   '
    
    return ('%' + str(round(((panda_series[0]/sum(panda_series))*100), 1))), ('%' + str(round(((panda_series[1]/sum(panda_series))*100), 1)))

users_df.groupby(by='occupation').apply(lambda x: calc_perc(x.gender.value_counts())).rename_index(['occupation','gender_percentage'])
# users_df.groupby(by='occupation').apply(lambda x: get_ratio(x.gender.value_counts()))