In [1]:
import pandas as pd
import numpy as np

## Basic info

Read the data-file (a 10 000 row subset of most rated IMDB-movies) into Pandas DataFrame and name the DataFrame-variable to `df` (use tab-character (`\t`) as the separator)

1. Use the following column-names: `ID, title, year, rating, votes, duration, genres`
2. Index the `df` with `ID`-column (either on reading the file or after it.)
3. Display first 5 rows of the `df`
4. Display last 11 rows of the `df`
5. Display the `df`-info

### created dataframe df with movie_data.txt file with column names

In [2]:
df= pd.read_csv('movie_data.txt', sep="\t", header=None)
df.columns = ["ID", "title", "year", "rating","votes","duration","genres"]
df

,ID,title,year,rating,votes,duration,genres
0,tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
1,tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
2,tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
3,tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
4,tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller
5,tt0109830,Forrest Gump (1994),1994,8.7,368994,142 mins.,Comedy|Drama|Romance
6,tt0169547,American Beauty (1999),1999,8.6,338332,122 mins.,Drama
7,tt0499549,Avatar (2009),2009,8.1,336855,162 mins.,Action|Adventure|Fantasy|Sci-Fi
8,tt0108052,Schindler's List (1993),1993,8.9,325888,195 mins.,Biography|Drama|History|War
9,tt0080684,Star Wars: Episode V - The Empire Strikes Back...,1980,8.8,320105,124 mins.,Action|Adventure|Family|Sci-Fi
10,tt0372784,Batman Begins (2005),2005,8.3,316613,140 mins.,Action|Crime|Drama|Thriller
11,tt0114814,The Usual Suspects (1995),1995,8.7,306624,106 mins.,Crime|Mystery|Thriller
12,tt0102926,The Silence of the Lambs (1991),1991,8.7,293081,118 mins.,Crime|Thriller
13,tt0120338,Titanic (1997),1997,7.4,284245,194 mins.,Adventure|Drama|History|Romance
14,tt0112573,Braveheart (1995),1995,8.4,281446,177 mins.,Action|Biography|Drama|History|War
15,tt0167404,The Sixth Sense (1999),1999,8.2,278210,107 mins.,Drama|Mystery|Thriller
16,tt0266697,Kill Bill: Vol. 1 (2003),2003,8.2,272983,111 mins.,Action|Crime|Thriller
17,tt0099685,Goodfellas (1990),1990,8.8,270728,146 mins.,Biography|Crime|Drama|Thriller
18,tt0416449,300 (2006),2006,7.8,269328,117 mins.,Action|Fantasy|History|War
19,tt0482571,The Prestige (2006),2006,8.4,258396,130 mins.,Drama|Mystery|Thriller
20,tt0105236,Reservoir Dogs (1992),1992,8.4,247390,99 mins.,Crime|Mystery|Thriller
21,tt0110413,Leon: The Professional (1994),1994,8.6,244568,110 mins.,Crime|Drama|Thriller
22,tt0120689,The Green Mile (1999),1999,8.4,243660,189 mins.,Crime|Drama|Fantasy|Mystery
23,tt0361748,Inglourious Basterds (2009),2009,8.4,240995,153 mins.,Adventure|Drama|War
24,tt0910970,WALL\xb7E (2008),2008,8.5,229364,98 mins.,Animation|Adventure|Family|Romance|Sci-Fi
25,tt0468569,The Dark Knight (2008),2008,8.9,555122,152 mins.,Action|Crime|Drama|Thriller
26,tt0068646,The Godfather (1972),1972,9.2,474189,175 mins.,Crime|Drama
27,tt0120737,The Lord of the Rings: The Fellowship of the R...,2001,8.8,451263,178 mins.,Action|Adventure|Drama|Fantasy
28,tt0167260,The Lord of the Rings: The Return of the King ...,2003,8.8,428791,201 mins.,Action|Adventure|Drama|Fantasy
29,tt0167261,The Lord of the Rings: The Two Towers (2002),2002,8.7,383113,179 mins.,Action|Adventure|Drama|Fantasy
...,...,...,...,...,...,...,...
9970,tt0469897,Diggers (2006),2006,6.4,1358,96 mins.,Comedy|Drama
9971,tt0110064,House Party 3 (1994),1994,3.1,1357,100 mins.,Comedy|Music|Romance
9972,tt1629391,Tere Bin Laden (2010),2010,7.2,1357,95 mins.,Comedy|Drama
9973,tt0878674,Garage (2007),2007,6.9,1356,00 mins.,Drama
9974,tt0076391,Mimino (1977),1977,8.2,1356,97 mins.,Comedy
9975,tt1316037,Birdemic: Shock and Terror (2008),2008,2.0,1366,90 mins.,Horror|Romance|Thriller
9976,tt0197094,What Becomes of the Broken Hearted? (1999),1999,6.3,1365,00 mins.,Drama
9977,tt0092608,Back to the Beach (1987),1987,5.1,1364,92 mins.,Comedy
9978,tt0093175,Hello Again (1987),1987,4.5,1364,96 mins.,Comedy|Drama|Fantasy|Romance
9979,tt1034320,Major Movie Star (2008),2008,3.8,1364,98 mins.,Adventure|Comedy|Drama|War
9980,tt0066476,The Touch of Satan (1971),1971,2.0,1364,90 mins.,Horror
9981,tt1281374,Don McKay (2009),2009,6.0,1363,87 mins.,Drama|Thriller|Mystery
9982,tt0263124,Brainstorm (2001),2001,7.8,1362,74 mins.,Drama
9983,tt0368259,Sex Lives of the Potato Men (2004),2004,4.3,1362,82 mins.,Comedy
9984,tt0067333,Lawman (1971),1971,6.8,1362,99 mins.,Western
9985,tt0065669,The Dunwich Horror (1970),1970,5.1,1361,90 mins.,Horror
9986,tt0048198,I Live in Fear (1955),1955,7.3,1360,103 mins.,Drama
9987,tt0100046,The Long Walk Home (1990),1990,7.2,1360,97 mins.,Drama|History
9988,tt0116247,Evil Ed (1995),1995,5.0,1359,93 mins.,Horror|Comedy
9989,tt0101356,Another You (1991),1991,4.9,1359,98 mins.,Comedy|Crime
9990,tt0421090,Zerophilia (2005),2005,6.3,1359,90 mins.,Comedy|Romance
9991,tt0067227,The Merchant of Four Seasons (1971),1971,7.6,1359,88 mins.,Drama
9992,tt0339727,Stateside (2004),2004,5.8,1358,97 mins.,Drama|Music|Romance
9993,tt0218581,Scarlet Diva (2000),2000,5.2,1358,91 mins.,Drama
9994,tt0118635,Aprile (1998),1998,6.7,1358,78 mins.,Comedy
9995,tt0807721,Meduzot (2007),2007,7.0,1357,78 mins.,Drama
9996,tt0339642,Daltry Calhoun (2005),2005,5.2,1357,100 mins.,Comedy|Drama|Music|Romance
9997,tt0060880,The Quiller Memorandum (1966),1966,6.5,1356,104 mins.,Drama|Mystery|Thriller
9998,tt0152836,Taal (1999),1999,6.5,1356,179 mins.,Musical|Romance
9999,tt0279977,The Navigators (2001),2001,6.9,1356,96 mins.,Comedy|Drama

### Index the `df` with `ID`-column (either on reading the file or after it.)

In [3]:
df.set_index("ID")
df.head()

,ID,title,year,rating,votes,duration,genres
0,tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
1,tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
2,tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
3,tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
4,tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller

### Display first 5 rows of the `df`

In [4]:
df.head(5)

,ID,title,year,rating,votes,duration,genres
0,tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
1,tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
2,tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
3,tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
4,tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller

### Display last 11 rows of the `df`

In [5]:
df.tail(11)

,ID,title,year,rating,votes,duration,genres
9989,tt0101356,Another You (1991),1991,4.9,1359,98 mins.,Comedy|Crime
9990,tt0421090,Zerophilia (2005),2005,6.3,1359,90 mins.,Comedy|Romance
9991,tt0067227,The Merchant of Four Seasons (1971),1971,7.6,1359,88 mins.,Drama
9992,tt0339727,Stateside (2004),2004,5.8,1358,97 mins.,Drama|Music|Romance
9993,tt0218581,Scarlet Diva (2000),2000,5.2,1358,91 mins.,Drama
9994,tt0118635,Aprile (1998),1998,6.7,1358,78 mins.,Comedy
9995,tt0807721,Meduzot (2007),2007,7.0,1357,78 mins.,Drama
9996,tt0339642,Daltry Calhoun (2005),2005,5.2,1357,100 mins.,Comedy|Drama|Music|Romance
9997,tt0060880,The Quiller Memorandum (1966),1966,6.5,1356,104 mins.,Drama|Mystery|Thriller
9998,tt0152836,Taal (1999),1999,6.5,1356,179 mins.,Musical|Romance
9999,tt0279977,The Navigators (2001),2001,6.9,1356,96 mins.,Comedy|Drama

### Display the `df`-info

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
ID          10000 non-null object
title       10000 non-null object
year        10000 non-null int64
rating      10000 non-null float64
votes       10000 non-null int64
duration    10000 non-null object
genres      9999 non-null object
dtypes: float64(1), int64(2), object(4)
memory usage: 390.7+ KB

## Cleaning

### Drop all the missing rows which contain any column with missing data

In [7]:
df.dropna()

,ID,title,year,rating,votes,duration,genres
0,tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
1,tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
2,tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
3,tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
4,tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller
5,tt0109830,Forrest Gump (1994),1994,8.7,368994,142 mins.,Comedy|Drama|Romance
6,tt0169547,American Beauty (1999),1999,8.6,338332,122 mins.,Drama
7,tt0499549,Avatar (2009),2009,8.1,336855,162 mins.,Action|Adventure|Fantasy|Sci-Fi
8,tt0108052,Schindler's List (1993),1993,8.9,325888,195 mins.,Biography|Drama|History|War
9,tt0080684,Star Wars: Episode V - The Empire Strikes Back...,1980,8.8,320105,124 mins.,Action|Adventure|Family|Sci-Fi
10,tt0372784,Batman Begins (2005),2005,8.3,316613,140 mins.,Action|Crime|Drama|Thriller
11,tt0114814,The Usual Suspects (1995),1995,8.7,306624,106 mins.,Crime|Mystery|Thriller
12,tt0102926,The Silence of the Lambs (1991),1991,8.7,293081,118 mins.,Crime|Thriller
13,tt0120338,Titanic (1997),1997,7.4,284245,194 mins.,Adventure|Drama|History|Romance
14,tt0112573,Braveheart (1995),1995,8.4,281446,177 mins.,Action|Biography|Drama|History|War
15,tt0167404,The Sixth Sense (1999),1999,8.2,278210,107 mins.,Drama|Mystery|Thriller
16,tt0266697,Kill Bill: Vol. 1 (2003),2003,8.2,272983,111 mins.,Action|Crime|Thriller
17,tt0099685,Goodfellas (1990),1990,8.8,270728,146 mins.,Biography|Crime|Drama|Thriller
18,tt0416449,300 (2006),2006,7.8,269328,117 mins.,Action|Fantasy|History|War
19,tt0482571,The Prestige (2006),2006,8.4,258396,130 mins.,Drama|Mystery|Thriller
20,tt0105236,Reservoir Dogs (1992),1992,8.4,247390,99 mins.,Crime|Mystery|Thriller
21,tt0110413,Leon: The Professional (1994),1994,8.6,244568,110 mins.,Crime|Drama|Thriller
22,tt0120689,The Green Mile (1999),1999,8.4,243660,189 mins.,Crime|Drama|Fantasy|Mystery
23,tt0361748,Inglourious Basterds (2009),2009,8.4,240995,153 mins.,Adventure|Drama|War
24,tt0910970,WALL\xb7E (2008),2008,8.5,229364,98 mins.,Animation|Adventure|Family|Romance|Sci-Fi
25,tt0468569,The Dark Knight (2008),2008,8.9,555122,152 mins.,Action|Crime|Drama|Thriller
26,tt0068646,The Godfather (1972),1972,9.2,474189,175 mins.,Crime|Drama
27,tt0120737,The Lord of the Rings: The Fellowship of the R...,2001,8.8,451263,178 mins.,Action|Adventure|Drama|Fantasy
28,tt0167260,The Lord of the Rings: The Return of the King ...,2003,8.8,428791,201 mins.,Action|Adventure|Drama|Fantasy
29,tt0167261,The Lord of the Rings: The Two Towers (2002),2002,8.7,383113,179 mins.,Action|Adventure|Drama|Fantasy
...,...,...,...,...,...,...,...
9970,tt0469897,Diggers (2006),2006,6.4,1358,96 mins.,Comedy|Drama
9971,tt0110064,House Party 3 (1994),1994,3.1,1357,100 mins.,Comedy|Music|Romance
9972,tt1629391,Tere Bin Laden (2010),2010,7.2,1357,95 mins.,Comedy|Drama
9973,tt0878674,Garage (2007),2007,6.9,1356,00 mins.,Drama
9974,tt0076391,Mimino (1977),1977,8.2,1356,97 mins.,Comedy
9975,tt1316037,Birdemic: Shock and Terror (2008),2008,2.0,1366,90 mins.,Horror|Romance|Thriller
9976,tt0197094,What Becomes of the Broken Hearted? (1999),1999,6.3,1365,00 mins.,Drama
9977,tt0092608,Back to the Beach (1987),1987,5.1,1364,92 mins.,Comedy
9978,tt0093175,Hello Again (1987),1987,4.5,1364,96 mins.,Comedy|Drama|Fantasy|Romance
9979,tt1034320,Major Movie Star (2008),2008,3.8,1364,98 mins.,Adventure|Comedy|Drama|War
9980,tt0066476,The Touch of Satan (1971),1971,2.0,1364,90 mins.,Horror
9981,tt1281374,Don McKay (2009),2009,6.0,1363,87 mins.,Drama|Thriller|Mystery
9982,tt0263124,Brainstorm (2001),2001,7.8,1362,74 mins.,Drama
9983,tt0368259,Sex Lives of the Potato Men (2004),2004,4.3,1362,82 mins.,Comedy
9984,tt0067333,Lawman (1971),1971,6.8,1362,99 mins.,Western
9985,tt0065669,The Dunwich Horror (1970),1970,5.1,1361,90 mins.,Horror
9986,tt0048198,I Live in Fear (1955),1955,7.3,1360,103 mins.,Drama
9987,tt0100046,The Long Walk Home (1990),1990,7.2,1360,97 mins.,Drama|History
9988,tt0116247,Evil Ed (1995),1995,5.0,1359,93 mins.,Horror|Comedy
9989,tt0101356,Another You (1991),1991,4.9,1359,98 mins.,Comedy|Crime
9990,tt0421090,Zerophilia (2005),2005,6.3,1359,90 mins.,Comedy|Romance
9991,tt0067227,The Merchant of Four Seasons (1971),1971,7.6,1359,88 mins.,Drama
9992,tt0339727,Stateside (2004),2004,5.8,1358,97 mins.,Drama|Music|Romance
9993,tt0218581,Scarlet Diva (2000),2000,5.2,1358,91 mins.,Drama
9994,tt0118635,Aprile (1998),1998,6.7,1358,78 mins.,Comedy
9995,tt0807721,Meduzot (2007),2007,7.0,1357,78 mins.,Drama
9996,tt0339642,Daltry Calhoun (2005),2005,5.2,1357,100 mins.,Comedy|Drama|Music|Romance
9997,tt0060880,The Quiller Memorandum (1966),1966,6.5,1356,104 mins.,Drama|Mystery|Thriller
9998,tt0152836,Taal (1999),1999,6.5,1356,179 mins.,Musical|Romance
9999,tt0279977,The Navigators (2001),2001,6.9,1356,96 mins.,Comedy|Drama

In [8]:
df1 = df['duration'].str.split(' mins.', expand=True)
df['duration']=(df1[0].astype(int))*60
df.head()

,ID,title,year,rating,votes,duration,genres
0,tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,8520,Crime|Drama
1,tt0110912,Pulp Fiction (1994),1994,9.0,490065,9240,Crime|Thriller
2,tt0137523,Fight Club (1999),1999,8.8,458173,8340,Drama|Mystery|Thriller
3,tt0133093,The Matrix (1999),1999,8.7,448114,8160,Action|Adventure|Sci-Fi
4,tt1375666,Inception (2010),2010,8.9,385149,8880,Action|Adventure|Sci-Fi|Thriller

In [9]:
s=pd.Series(df['title'])
df['subtitle']=s.map(lambda a: a[:-6])
df['title']=df['subtitle']
df.head()

,ID,title,year,rating,votes,duration,genres,subtitle
0,tt0111161,The Shawshank Redemption,1994,9.2,619479,8520,Crime|Drama,The Shawshank Redemption
1,tt0110912,Pulp Fiction,1994,9.0,490065,9240,Crime|Thriller,Pulp Fiction
2,tt0137523,Fight Club,1999,8.8,458173,8340,Drama|Mystery|Thriller,Fight Club
3,tt0133093,The Matrix,1999,8.7,448114,8160,Action|Adventure|Sci-Fi,The Matrix
4,tt1375666,Inception,2010,8.9,385149,8880,Action|Adventure|Sci-Fi|Thriller,Inception

In [10]:
df=df.drop(columns='subtitle')
df.head()

,ID,title,year,rating,votes,duration,genres
0,tt0111161,The Shawshank Redemption,1994,9.2,619479,8520,Crime|Drama
1,tt0110912,Pulp Fiction,1994,9.0,490065,9240,Crime|Thriller
2,tt0137523,Fight Club,1999,8.8,458173,8340,Drama|Mystery|Thriller
3,tt0133093,The Matrix,1999,8.7,448114,8160,Action|Adventure|Sci-Fi
4,tt1375666,Inception,2010,8.9,385149,8880,Action|Adventure|Sci-Fi|Thriller

## Concatenating

### Read crew_data.tsv.gz to DataFrame named movie_crew_df with columns ID, director_ids indexed by ID (forget the rest of the columns)

In [11]:
movie_crew_df= pd.read_csv('crew_data.tsv.gz', sep="\t")
movie_crew_df=movie_crew_df.rename(columns={'tconst':'ID','directors':'director_ids'})
movie_crew_df.set_index("ID")
movie_crew_df.head()

          ID director_ids writers
0  tt0000001    nm0005690      \N
1  tt0000002    nm0721526      \N
2  tt0000003    nm0721526      \N
3  tt0000004    nm0721526      \N
4  tt0000005    nm0005690      \N

### Read person_data.tsv.gz to DataFrame named person_df with columns person_ID, name indexed by person_ID

In [12]:
df.head()

,ID,title,year,rating,votes,duration,genres
0,tt0111161,The Shawshank Redemption,1994,9.2,619479,8520,Crime|Drama
1,tt0110912,Pulp Fiction,1994,9.0,490065,9240,Crime|Thriller
2,tt0137523,Fight Club,1999,8.8,458173,8340,Drama|Mystery|Thriller
3,tt0133093,The Matrix,1999,8.7,448114,8160,Action|Adventure|Sci-Fi
4,tt1375666,Inception,2010,8.9,385149,8880,Action|Adventure|Sci-Fi|Thriller

In [13]:
movie_crew_df=movie_crew_df.drop(columns=['writers'])
movie_crew_df.head()

          ID director_ids
0  tt0000001    nm0005690
1  tt0000002    nm0721526
2  tt0000003    nm0721526
3  tt0000004    nm0721526
4  tt0000005    nm0005690

In [14]:
print(df.shape)
print(movie_crew_df.shape)

(10000, 7)
(5953930, 2)

In [15]:
df['ID'].head()

0    tt0111161
1    tt0110912
2    tt0137523
3    tt0133093
4    tt1375666
Name: ID, dtype: object

In [16]:
df['ID'].isin(movie_crew_df['ID']).value_counts()

True     9994
False       6
Name: ID, dtype: int64

In [17]:
df=pd.merge(movie_crew_df,df,on='ID')
df.head()

,ID,director_ids,title,year,rating,votes,duration,genres
0,tt0035423,nm0003506,Kate & Leopold,2001,6.2,26738,7080,Comedy|Fantasy|Romance
1,tt0041719,nm0168413,Orpheus,1950,8.0,3561,5700,Fantasy|Drama|Romance
2,tt0041931,nm0744023,Stromboli,1950,7.1,1527,6420,Drama
3,tt0042179,nm0006943,Abbott and Costello in the Foreign Legion,1950,6.3,1722,4800,Adventure|Comedy
4,tt0042192,nm0000581,All About Eve,1950,8.5,39729,8280,Drama

In [18]:
df.head(20)

,ID,director_ids,title,year,rating,votes,duration,genres
0,tt0035423,nm0003506,Kate & Leopold,2001,6.2,26738,7080,Comedy|Fantasy|Romance
1,tt0041719,nm0168413,Orpheus,1950,8.0,3561,5700,Fantasy|Drama|Romance
2,tt0041931,nm0744023,Stromboli,1950,7.1,1527,6420,Drama
3,tt0042179,nm0006943,Abbott and Costello in the Foreign Legion,1950,6.3,1722,4800,Adventure|Comedy
4,tt0042192,nm0000581,All About Eve,1950,8.5,39729,8280,Drama
5,tt0042200,"nm0000923,nm0796645",Annie Get Your Gun,1950,7.1,1489,6420,Biography|Comedy|Family|Musical|Romance|Western
6,tt0042208,nm0001379,The Asphalt Jungle,1950,8.0,9451,6720,Crime|Film-Noir|Drama
7,tt0042276,nm0002030,Born Yesterday,1950,7.6,4117,6180,Comedy|Drama|Romance
8,tt0042286,nm0202681,Broken Arrow,1950,7.2,2436,5580,Drama|Romance|Western
9,tt0042327,nm0485943,Cheaper by the Dozen,1950,6.9,1984,5160,Comedy|Drama|Family
10,tt0042332,"nm0527217,nm0414144,nm0314671",Cinderella,1950,7.3,24815,4440,Animation|Family|Fantasy|Musical|Romance
11,tt0042367,nm0330456,Cyrano de Bergerac,1950,7.4,1593,6720,Drama|Romance
12,tt0042369,nm0005789,D.O.A.,1950,7.4,4326,4980,Drama|Film-Noir|Mystery
13,tt0042451,nm0591486,Father of the Bride,1950,7.2,4325,5520,Comedy|Romance
14,tt0042530,nm0507390,Gun Crazy,1950,7.8,3702,5160,Crime|Drama|Film-Noir|Romance|Thriller
15,tt0042531,nm0454771,The Gunfighter,1950,7.8,3491,5100,Western|Drama
16,tt0042546,nm0467396,Harvey,1950,8.1,26683,6240,Comedy|Drama|Fantasy
17,tt0042593,nm0712947,In a Lonely Place,1950,8.0,7319,5640,Drama|Film-Noir|Mystery|Romance|Thriller
18,tt0042619,nm0000975,Diary of a Country Priest,1951,7.9,3256,6900,Drama|Mystery
19,tt0042646,"nm0554249,nm0071682",King Solomon's Mines,1950,6.9,2398,6180,Adventure|Romance|Action

In [23]:
indexNames = df[((df['director_ids'].str.len()) > 9)].index
df.drop(indexNames , inplace=True)

In [24]:
df.head(20)

,ID,director_ids,title,year,rating,votes,duration,genres
0,tt0035423,nm0003506,Kate & Leopold,2001,6.2,26738,7080,Comedy|Fantasy|Romance
1,tt0041719,nm0168413,Orpheus,1950,8.0,3561,5700,Fantasy|Drama|Romance
2,tt0041931,nm0744023,Stromboli,1950,7.1,1527,6420,Drama
3,tt0042179,nm0006943,Abbott and Costello in the Foreign Legion,1950,6.3,1722,4800,Adventure|Comedy
4,tt0042192,nm0000581,All About Eve,1950,8.5,39729,8280,Drama
6,tt0042208,nm0001379,The Asphalt Jungle,1950,8.0,9451,6720,Crime|Film-Noir|Drama
7,tt0042276,nm0002030,Born Yesterday,1950,7.6,4117,6180,Comedy|Drama|Romance
8,tt0042286,nm0202681,Broken Arrow,1950,7.2,2436,5580,Drama|Romance|Western
9,tt0042327,nm0485943,Cheaper by the Dozen,1950,6.9,1984,5160,Comedy|Drama|Family
11,tt0042367,nm0330456,Cyrano de Bergerac,1950,7.4,1593,6720,Drama|Romance
12,tt0042369,nm0005789,D.O.A.,1950,7.4,4326,4980,Drama|Film-Noir|Mystery
13,tt0042451,nm0591486,Father of the Bride,1950,7.2,4325,5520,Comedy|Romance
14,tt0042530,nm0507390,Gun Crazy,1950,7.8,3702,5160,Crime|Drama|Film-Noir|Romance|Thriller
15,tt0042531,nm0454771,The Gunfighter,1950,7.8,3491,5100,Western|Drama
16,tt0042546,nm0467396,Harvey,1950,8.1,26683,6240,Comedy|Drama|Fantasy
17,tt0042593,nm0712947,In a Lonely Place,1950,8.0,7319,5640,Drama|Film-Noir|Mystery|Romance|Thriller
18,tt0042619,nm0000975,Diary of a Country Priest,1951,7.9,3256,6900,Drama|Mystery
20,tt0042727,nm0003593,The Men,1950,7.2,1648,5100,Drama
21,tt0042788,nm0202088,Night and the City,1950,8.0,3900,6060,Crime|Film-Noir|Sport|Thriller
22,tt0042804,nm0000320,The Young and the Damned,1950,8.2,6597,5100,Crime|Drama

In [25]:
df=df.rename(columns={'director_ids':'director_id'})
df.head()

,ID,director_id,title,year,rating,votes,duration,genres
0,tt0035423,nm0003506,Kate & Leopold,2001,6.2,26738,7080,Comedy|Fantasy|Romance
1,tt0041719,nm0168413,Orpheus,1950,8.0,3561,5700,Fantasy|Drama|Romance
2,tt0041931,nm0744023,Stromboli,1950,7.1,1527,6420,Drama
3,tt0042179,nm0006943,Abbott and Costello in the Foreign Legion,1950,6.3,1722,4800,Adventure|Comedy
4,tt0042192,nm0000581,All About Eve,1950,8.5,39729,8280,Drama

In [27]:
df.shape

(9449, 8)